.form-item
    display: flex
    flex-direction: column
    gap: 5px
    color: var(--text-color)
    &.inline
        flex-direction: row
        align-items: center
        label
            padding: 5px 0
            flex: 1
            label
                display: block
                font-weight: 500
                color: var(--text-color)
