.form-group-container
    .form-group
        border: 1px solid var(--input-border-color)
        border-radius: 7px
        padding: 20px
        background-color: #fffcfc
    .label.group
        font-size: 1.5rem
