@use '../../abstracts' as *

.vertical-form-box
    display: flex
    justify-content: center
    align-items: start
    background: rgb(251,251,251)

.vertical-form
    min-width: 500px
    max-width: 550px
    padding: 25px
    margin-top: 40px

    display: flex
    flex-direction: column
    gap: 10px

    border-radius: 7px
    box-shadow: 4px 4px 32px 16px #eee

    .form-header
        text-align: center
        padding-bottom: 20px
        color: var(--text-color)
        font-weight: bold
        font-size: 23px

    .form-content
        display: flex
        flex-direction: column
        gap: 5px

    .form-buttons
        display: flex
        justify-content: center
        align-items: center
        gap: 10px
        padding: 0 75px

        .button
            flex: 1
            &.ico
                width: 45px
                height: 30px
