.form-group-container
    display: flex
    justify-items: columns
    flex-direction: column
    gap: 5px
    .form-group
        display: flex
        border: 1px solid var(--input-border-color)
        border-radius: 7px
        padding: 20px
    .label.group
        font-size: 1.3rem
        color: var(--label-color)
        display: flex
        justify-content: center
