.form-group-container
    display: flex
    justify-items: columns
    .form-group
        display: flex
        border: 1px solid var(--input-border-color)
        border-radius: 7px
        padding: 20px
        background-color: #fff
    .label.group
        font-size: 1.4rem
