.time-range-wrapper
    margin-bottom: 15px

    &:last-child
        margin-bottom: 0
.work-schedule-time

    display: flex
    flex-direction: column
    gap: 10px

    .day-row
        display: flex
        align-items: center
        flex-wrap: wrap
        gap: 10px
        height: 30px

        .day-label
            width: 30px
            align-items: center

    .time-picker-block
        display: flex
        align-items: center
        gap: 6px

    .error-message
        color: red
        font-size: 12px
        align-self: center
