.work-schedule-section
    border: 1px solid var(--input-border-color)
    border-radius: 7px
    padding: 20px
    background-color: #fffcfc

.label
    color: #222
.time-range-wrapper
    margin-bottom: 15px

    &:last-child
        margin-bottom: 0
